.match-list {
  width: 842px;
  height: 898px;
  margin-top: 20px;
  padding: 20px 15px 31px 17px;
  background-color: var(--gray-900);
  border-radius: 20px;
  box-shadow: 5px 2px 20px var(--black-alpha-25);
}