<section class="calendar">
  <div class="calendar__days">
    <div class="calendar__day">
      <p class="calendar__weekday">Hoje</p>
      <p class="calendar__date">12/11</p>
    </div>
    <div class="calendar__day">
      <p class="calendar__weekday">Qua</p>
      <p class="calendar__date">12/11</p>
    </div>
    <div class="calendar__day">
      <p class="calendar__weekday">Qui</p>
      <p class="calendar__date">12/11</p>
    </div>
    <div class="calendar__day">
      <p class="calendar__weekday">Sex</p>
      <p class="calendar__date">12/11</p>
    </div>
    <div class="calendar__day">
      <p class="calendar__weekday">Sáb</p>
      <p class="calendar__date">12/11</p>
    </div>
    <div class="calendar__day">
      <p class="calendar__weekday">Dom</p>
      <p class="calendar__date">12/11</p>
    </div>
    <button class="navigate">      
      <img src="/src/assets/img/right-arrow.svg" alt="Próximo">
    </button>
  </div>
  <SearchBar></SearchBar>
</section>