<section class="coupon">
  <div class="coupon__header">
    <span class="coupon__title">Cupom</span>
    <span class="coupon__icon">
      <img
        src="/src/assets/img/cupom.svg"
        alt="Cupom"
      >
      <span class="coupon__bet-count">2</span>
    </span>
  </div>
  <div class="coupon__body">
    <div class="coupon__ticket">
      <div class="coupon__league">
        <img
          src="/src/assets/img/flag-brasil.png"
          alt="Brasil"
          class="coupun__country"
          width=15
          height=15
        >
        <span class="coupon__league-title">Brasil - Série A</span>
        <img
          src="/src/assets/img/close.svg"
          alt="Fechar"
          class="coupon__close"
        >
      </div>
      <div class="coupon__team">
        <img
          src="/src/assets/img/camisa-time-2.png"
          alt="Camisa do Time 2"
          class="coupon__team-jersey"
          width=15
          height=16 
        >
        <span class="coupon__team-name">Fluminense</span>
      </div>
      <div class="coupon__team">
        <img
          src="/src/assets/img/camisa-time-1.png"
          alt="Camisa do Time 1"
          class="coupon__team-jersey"
          width=15
          height=15
        >
        <span class="coupon__team-name">Atlético Mineiro</span>
      </div>
      <div class="coupon__sport">
        <img
          src="/src/assets/img/football.svg"
          alt="Futebol"
          class="coupon__sport-icon"
          width=10
          height="10"
        >
        <span>Futebol</span>
      </div>
      <p>Vencedor de encontro</p>
      <div class="coupon__ticket-bet">
        <span>Fora</span>
        <span>2,45</span>
      </div>
    </div>
    <div class="coupon__ticket">
      <div class="coupon__league">
        <img
          src="/src/assets/img/flag-brasil.png"
          alt="Brasil"
          class="coupun__country"
          width=15
          height=15
        >
        <span class="coupon__league-title">Brasil - Série A</span>
        <img
          src="/src/assets/img/close.svg"
          alt="Fechar"
          class="coupon__close"
        >
      </div>
      <div class="coupon__team">
        <img
          src="/src/assets/img/camisa-time-2.png"
          alt="Camisa do Time 2"
          class="coupon__team-jersey"
          width=15
          height=16 
        >
        <span class="coupon__team-name">Fluminense</span>
      </div>
      <div class="coupon__team">
        <img
          src="/src/assets/img/camisa-time-1.png"
          alt="Camisa do Time 1"
          class="coupon__team-jersey"
          width=15
          height=15
        >
        <span class="coupon__team-name">Atlético Mineiro</span>
      </div>
      <div class="coupon__sport">
        <img
          src="/src/assets/img/football.svg"
          alt="Futebol"
          class="coupon__sport-icon"
          width=10
          height="10"
        >
        <span>Futebol</span>
      </div>
      <p>Vencedor de encontro</p>
      <div class="coupon__ticket-bet">
        <span>Fora</span>
        <span>2,45</span>
      </div>
    </div>
  </div>
  <div class="coupon__footer">
    <div class="coupon__total">
      <span>Total Cotação</span>
      <span class="coupon__value-quote">
        55,60
      </span>
    </div>
    <div class="coupon__games-count">
      <span>Quantidade de Jogos</span>
      <span class="coupon__bet-count">2</span>
    </div>
    <div class="coupon__bet-name">
      <span>Nome do Apostador</span>
      <input
        type="text"
        class="coupon__name-input"
        value="Elias Rosa"
      >
    </div>
    <div class="coupon__bet-value">
      <span>Valor da Aposta</span>
      <div class="coupon__input-value">
        <button class="coupon__value-button">R$</button>
        <input type="text" value="148,76">
      </div>
    </div>
    <div class="coupon__return-preview">
      <span>Retorno Previsto</span>
      <span class="coupon__value-quote">
        34,55
      </span>
    </div>
    <div>
      <button class="coupon__bet-button">Pré - Aposta</button>
      <button class="coupon__bet-button coupon__bet-button--active">Aposta com crédito</button>
    </div>
  </div>
</section>