<article class="match-card">
  <div class="match-card__header">
    <img class="match-card__sport" src="/src/assets/img/ball.svg" alt="Bola de futebol">
    <span class="match-card__date">19/12</span>
    <img class="match-card__country" src="/src/assets/img/flag-brasil.png" alt="Bandeira do Brasil">
    <h4 class="match-card__league">Brasil - Série A</h4>
    <span class="match-card__time">22:11 hs</span>
  </div>
  <div class="match-card__body">
    <span class="match-card__team">Time 1</span>
    <img src="/src/assets/img/camisa-time-1.png" alt="Camisa do time da casa" class="match-card__team-jersey" width="42" height="42">
    <img src="/src/assets/img/versus.svg" alt="Versus">
    <img src="/src/assets/img/camisa-time-2.png" alt="Camisa do time da casa" class="match-card__team-jersey" width="40" height="40">
    <span class="match-card__team">Time 2</span>
    <span class="match-card__winner">Vencedor do Confronto</span>
  </div>
  <div class="match-card__footer">
    <div class="match-card__odds">
      <span class="match-card__odd">1,44</span>
      <span class="match-card__odd">1,50</span>
      <span class="match-card__odd match-card__odd--highlight">1,44</span>
    </div>
    <span class="match-card__points">+ 460</span>
  </div>
</article>